# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Cache files
.cache/
.cache/*.npz

# OS / Editor
.DS_Store
.vscode/
.idea/

# Raw datasets (do not commit)
data_raw/
data_raw/**

# Cache
.cache/
.cache/*.npz